<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.puzzlegameback.mappers.PuzzleChapterMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.javaclimb.puzzlegameback.entity.po.PuzzleChapter">
		<!--谜题id-->
		<result column="puzzle_id" property="puzzleId"  />
		<!--章节id-->
		<result column="chapter_id" property="chapterId"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 puzzle_id,chapter_id
	</sql>

	<sql id="base_condition_filed">
		<if test="query.puzzleId != null and query.puzzleId!=''">
			 and  puzzle_id = #{query.puzzleId}
		</if>
		<if test="query.chapterId != null and query.chapterId!=''">
			 and  chapter_id = #{query.chapterId}
		</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed" />
			<if test="query.puzzleIdFuzzy!= null  and query.puzzleIdFuzzy!=''">
				 and  puzzle_id like concat('%', #{query.puzzleIdFuzzy}, '%')
			</if>
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
		</where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM puzzle_chapter <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM puzzle_chapter <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.javaclimb.puzzlegameback.entity.po.PuzzleChapter">
		 INSERT INTO puzzle_chapter
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.puzzleId != null">
				 puzzle_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.puzzleId!=null">
				 #{bean.puzzleId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.javaclimb.puzzlegameback.entity.po.PuzzleChapter">
		 INSERT INTO puzzle_chapter
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.puzzleId != null">
				 puzzle_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.puzzleId!=null">
				 #{bean.puzzleId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.puzzleId!=null">
				 puzzle_id = VALUES(puzzle_id),
			</if>
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.javaclimb.puzzlegameback.entity.po.PuzzleChapter">
		 INSERT INTO puzzle_chapter(
			 puzzle_id,
			 chapter_id
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.puzzleId},
				 #{item.chapterId}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.javaclimb.puzzlegameback.entity.po.PuzzleChapter">
		 INSERT INTO puzzle_chapter(
			 puzzle_id,
			 chapter_id
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.puzzleId},
				 #{item.chapterId}
			 )
		 </foreach>
			on DUPLICATE key update 
			puzzle_id = VALUES(puzzle_id),
			chapter_id = VALUES(chapter_id)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.javaclimb.puzzlegameback.entity.query.PuzzleChapterQuery">
		 UPDATE puzzle_chapter
 		 <set> 
			<if test="bean.puzzleId != null">
				 puzzle_id = #{bean.puzzleId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from puzzle_chapter
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据PuzzleIdAndChapterId修改-->
	<update id="updateByPuzzleIdAndChapterId" parameterType="com.javaclimb.puzzlegameback.entity.po.PuzzleChapter">
		 UPDATE puzzle_chapter
 		 <set> 
 		 </set>
 		 where puzzle_id=#{puzzleId} and chapter_id=#{chapterId}
	</update>

	<!-- 根据PuzzleIdAndChapterId删除-->
	<delete id="deleteByPuzzleIdAndChapterId">
		delete from puzzle_chapter where puzzle_id=#{puzzleId} and chapter_id=#{chapterId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByPuzzleIdAndChapterId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from puzzle_chapter where puzzle_id=#{puzzleId} and chapter_id=#{chapterId}
	</select>

	<select id="selectByChapterId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from puzzle_chapter where chapter_id=#{chapterId}
	</select>

</mapper>